@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #0b0a0c;
  font-family: "Jost", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

button {
  font-family: "Jost", sans-serif;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.navbar {
  position: fixed;
  width: 100vw;
  background-color: transparent;
  z-index: 3;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.navbar--fixed {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1200px;
  padding: 0.7em 0;
  margin: 0 auto;
}

.navbar__link {
  color: #0b0a0c;
  font-size: 1.8rem;
}

.navbar__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8em;
  cursor: pointer;
}

.navbar__menu-btn {
  border: transparent;
  background-color: transparent;
  font-size: 1.15rem;
  font-weight: 500;
}

.navbar__hamburger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 18px;
}

.navbar__btn-line {
  height: 2px;
  width: 25px;
  background-color: #0b0a0c;
}

.sidebar {
  position: fixed;
  right: 0;
  max-width: 550px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.sidebar-background {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar-background--active {
  opacity: 1;
  visibility: visible;
}

.sidebar__close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.sidebar__line {
  position: absolute;
  left: 0;
  top: 21px;
  width: 42px;
  height: 3px;
  background-color: #0b0a0c;
}

.sidebar__line:nth-child(1) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.sidebar__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sidebar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 6em 2em;
}

@media (min-width: 767px) {
  .sidebar__container {
    padding: 6em 5em;
  }
}

.sidebar__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidebar__title {
  margin-bottom: 1em;
  color: #999;
}

.sidebar__title-menu {
  font-size: 1.2rem;
  font-weight: 600;
}

.sidebar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4em;
}

.sidebar__link {
  position: relative;
  display: block;
  color: #0b0a0c;
  font-size: 1.9rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar__link:hover {
  padding-left: 0.7em;
  color: #3452ff;
  background-color: #f9f9f9;
}

.sidebar__link:hover::after {
  height: 100%;
}

.sidebar__link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 0;
  background-color: #3452ff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar__email-link {
  border-bottom: 1px solid #999;
  color: #0b0a0c;
  font-size: 1.1rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar__email-link:hover {
  border-bottom-color: transparent;
}

.hero {
  background-color: #f0f7fb;
}

@media (min-width: 767px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
  }
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 2em;
  width: 90%;
  max-width: 1200px;
  padding-bottom: 8em;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .hero__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}

.hero__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

@media (min-width: 767px) {
  .hero__avatar {
    min-height: auto;
  }
}

.hero__img-container {
  position: relative;
  width: 85%;
  max-width: 400px;
  margin: 0 auto;
}

.hero__img {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 50%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.hero__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.hero__circle--blue {
  top: -18px;
  left: 15px;
  background-color: #3452ff;
  -webkit-box-shadow: 5px -5px 20px #3452ff;
          box-shadow: 5px -5px 20px #3452ff;
}

.hero__circle--cream {
  top: 18px;
  left: -15px;
  background-color: #d3a583;
  -webkit-box-shadow: -5px 5px 20px #d3a583;
          box-shadow: -5px 5px 20px #d3a583;
}

.hero__text {
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 767px) {
  .hero__text {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .hero__text {
    font-size: 2.4em;
  }
}

.hero__text .bold {
  display: block;
  font-weight: 700;
}

@media (min-width: 767px) {
  .hero__text .bold {
    font-size: 3.2rem;
  }
}

.hero__line {
  position: absolute;
  width: 4px;
  height: 150%;
  background-color: #0b0a0c;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 1;
}

.hero__line:nth-child(1) {
  top: -4rem;
  right: 12rem;
}

.hero__line:nth-child(2) {
  top: -5rem;
  right: 9rem;
}

.hero__line:nth-child(3) {
  top: -6rem;
  right: 6rem;
}

.about__container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 11em 0;
}

.about__desc {
  font-size: 1.6rem;
  text-align: center;
}

.about__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3em;
  margin-top: 2.5em;
}

.about__socials svg {
  width: 25px;
}

.about__social-link {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0b0a0c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about__social-link:hover {
  background-color: #3452ff;
}

.skills__container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2em 0 11em 0;
}

.skills__title {
  color: #999;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 2em;
}

.skills__desc {
  font-size: 1.6em;
  text-align: center;
}

.skills__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1.5em;
  margin-top: 3em;
}

.skills__list img {
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.skills__list img:hover {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project__container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}

.project__title {
  color: #999;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 2em;
}

.project__desc {
  font-size: 1.6em;
  text-align: center;
}

.project__list {
  display: -ms-grid;
  display: grid;
  gap: 4em;
  padding: 4em 0;
}

.project__card {
  position: relative;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (min-width: 767px) {
  .project__card {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .project__card:nth-child(odd) .project__img-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
  }
  .project__card:nth-child(even) .project__img-container {
    grid-column: 6/-1;
  }
  .project__card:nth-child(odd) .project__content {
    right: 0;
    text-align: right;
  }
  .project__card:nth-child(even) .project__content {
    left: 0;
    text-align: left;
  }
  .project__card:nth-child(odd) .project__stack {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .project__card:nth-child(even) .project__stack {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .project__img-container {
    height: 350px;
  }
}

.project__img {
  display: block;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 767px) {
  .project__img {
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}

.project__content {
  padding: 1em;
}

@media (min-width: 767px) {
  .project__content {
    position: absolute;
    width: 60%;
    padding: 0;
  }
}

.project__name {
  margin-bottom: 0.7em;
  font-size: 1.4rem;
  font-weight: 600;
}

.project__name a {
  color: #0b0a0c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project__name a:hover {
  color: #3452ff;
}

@media (min-width: 767px) {
  .project__text {
    border-radius: 10px;
    padding: 1em;
    color: #fff;
    background-color: #0b0a0c;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}

.project__stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7em;
  margin-top: 0.7em;
}

.project__links {
  margin-top: 0.7em;
}

.project__link {
  color: #0b0a0c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project__link-logo {
  width: 22px;
}

.project__img {
  width: 100%;
}
