.sidebar {
  position: fixed;
  right: 0;
  max-width: 550px;
  width: 100%;
  height: 100%;
  background-color: $clr-white;
  transform: translateX(100%);
  z-index: 5;
  transition: all 0.3s ease;

  &--active {
    transform: translateX(0%);
  }

  &-background {
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 42px;
    height: 42px;
    cursor: pointer;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 21px;
    width: 42px;
    height: 3px;
    background-color: $clr-black;

    &:nth-child(1) {
      transform: rotate(135deg);
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 6em 2em;

    @include respond-to('small') {
      padding: 6em 5em;
    }
  }

  &__menu {
    flex-grow: 1;
  }

  &__title {
    margin-bottom: 1em;
    color: $clr-grey;

    &-menu {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
  }

  &__link {
    position: relative;
    display: block;
    color: $clr-black;
    font-size: 1.9rem;
    transition: all 0.4s ease;

    &:hover {
      padding-left: 0.7em;
      color: $clr-blue;
      background-color: $clr-light-grey;

      &::after {
        height: 100%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 0;
      background-color: $clr-blue;
      transition: all 0.4s ease;
    }
  }

  &__email-link {
    border-bottom: 1px solid $clr-grey;
    color: $clr-black;
    font-size: 1.1rem;
    transition: all 0.4s ease;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}
